<nav class="navbar navbar-light bg-primary">
    <img src="images/admin/logo.png" width="50" alt="">
    <h3><a class="navbar-brand">MATRIK</a></h3>
    <form class="form-inline">
        <a class="btn btn-primary" href="/login">kelola hotel</a>
        <a class="btn btn-primary" href="/login">LOGOUT</a>
    </form>
</nav>
<br><br>


<div class="jumbotron">
    <h1 class="display-4">SELAMAT DATANG ADMIN...!</h1>
    <p class="lead"></p>
    <hr class="my-4">
    <p></p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/admin/kamar" role="button">Kelola kamar</a>
        <a class="btn btn-primary btn-lg" href="/admin/hotel" role="button">Kelola hotel</a>
    </p>
</div>