<nav class="navbar navbar-light bg-primary">
  <img src="images/logo.png" width="50" alt="">
  <h3><a class="navbar-brand">MATRIK</a></h3>
  <form class="form-inline">
    <a class="btn btn-primary" href="/login">LOGIN</a>
  </form>
</nav>
<br><br>