<div class="card-deck">
  <div class="card">
    <img src="images/kamar1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Fasilitas</h5>
      <p class="card-text">
        <ul>
          <li> Tv</li>
          <li> Kulkas</li>
          <li> Lemari</li>
          <li> Kasur</li>
          <li> Bantal</li>
        </ul>
      </p>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesan</button>
    </div>
  </div>
  <div class="card">
    <img src="images/kamar2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Fasilitas</h5>
      <p class="card-text">
        <ul>
          <li> Tv</li>
          <li> Kulkas</li>
          <li> Lemari</li>
          <li> Kasur</li>
          <li> Bantal</li>
        </ul>
      </p>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesan</button>
    </div>
  </div>
  <div class="card">
    <img src="images/kamar3.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Fasilitas</h5>
      <p class="card-text">
        <ul>
          <li> Tv</li>
          <li> Kulkas</li>
          <li> Lemari</li>
          <li> Kasur</li>
          <li> Bantal</li>
        </ul>
      </p>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesan</button>
    </div>
  </div>
</div>